:root {
    /* --md-primary-fg-color:        #EE0F0F; */
    --md-primary-fg-color:        #002E6E;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
}

p {
	text-align: justify;
}

ul {
  text-align: justify;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body{
  color: #000000;
  background-color: #ffffff;
}

.md-nav__list{
  text-align: left;
}

.container-img {
  position: relative;
  width: 50%;
}

.row {
  display: flex;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 25%;
  border: 2px solid black;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  width: auto; 
  text-decoration: none;
}
  